
@font-face {
    font-family: 'Lobster13Regular';
    src: url('Lobster_1.3-webfont.woff') format('woff'),
         url('Lobster_1.3-webfont.ttf') format('truetype'),
         url('Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}
